{{transitName}}
<div class="tranist-direction" ng-repeat="direction in transit">
	<div>{{direction.name}}</div>
	<ul class="list-unstyled">
		<li class="route" ng-repeat="route in direction.routes track by $index" ng-class="{'bart-route': transitProvider==='bart'}" code="{{route.code}}" ng-if="route.departures">
			<img ng-src="{{routeIcon(route)}}" class="route-icon-muni" ng-if="transitProvider==='muni'">
			{{chopMuniName(route.name)}}
			<ul class="arrival-times">
			<li ng-repeat="time in route.departures track by $index" ng-class="{'first-time': $index===0}">
				{{time}}{{($index!=route.departures.length-1)?",":""}}
			</li>
			</ul>
		</li>
	</ul>
</div>
