<div>Weather</div>
<div class="current-weather">
	<i class="current-weather__icon" ng-class="weather.currently.icon | weatherIcon"></i>
	<span class="current-weather__temp">
		{{weather.currently.temperature | trunk}}
		<i class="wi-fahrenheit"></i>
	</span>
	<span class="current-weather__summary">{{weather.currently.summary}}</span>
</div>

<ul class="list-unstyled forecast">
	<li class="forecast__item" ng-repeat="day in weather.daily.data" ng-class="{'current-day': $index===0}">
		<div class="forecast__day forecast-col">
			{{day.time | moment}}
		</div>
		<div class="forecast__icon forecast-col">
			<i ng-class="day.icon | weatherIcon"></i>
		</div>
		<div class="forecast__temp forecast-col">
			{{day.temperatureMax | trunk}} / {{day.temperatureMin | trunk}}
			<i class="wi-fahrenheit"></i>
		</div>
	</li>
</ul>