.calendar__day {
  width: .75rem;
  height: .75rem;
  float: left;
  margin: .64rem;
}

.calendar__dateline {
  font-size: .825em;
  margin: .5rem 0;
}

.calendar__legend {
  display: flex;
  justify-content: space-between;
}

.calendar__legend__label {
  margin: .25rem 0;
  font-size: 1.5rem;
  width: 2rem;
  text-align: center;
}

.calendar__day.active-month {
  border: 1px solid rgba(white, .5);
}

.calendar__day.current {
  background-color: white;
  box-shadow: 1px 1px 1px rgba(#10194D, .5);
}

.calendar__day:nth-of-type(7n+1) {
  clear: left;
}
