@import '_typography';

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: black;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 250%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
