.transit {
  padding: 1rem;
}

.transit__direction {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.route__label {
  display: inline-block;
}

.route__departures {
  display: inline-block;
  float: right;
}

.route {
  padding: 0.25em 0;
  border-bottom: 2px solid rgba(white, .5);
}

.route__departures__time {
  float: left;
  margin-right: .5rem;
}

.route__departures__time:after {
  content: ',';
}

.route__departures__time:last-child:after {
  content: '';
}
