.transit {
  padding: 1rem;
}

.transit__direction {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.route__label {
  display: inline-block;
}

.route__departures {
  display: inline-flex;
  margin-left: auto;
}

.route {
  padding: 0.25em;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  background-color: rgba(black, .4);
  margin-bottom: 3px;
}

.route__departures__time {
  display: flex;
  margin-right: .5rem;
}

.route__departures__time:after {
  content: ',';
}

.route__departures__time:last-child:after {
  content: '';
}
