.weather {
  margin-right: auto;
}

.forecast {
  text-align: center;
}

.day {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 5em;
}

.day:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 1rem;
  bottom: 1rem;
  border: 1px solid rgba(white, .5);
}

.day:last-child:after {
  border: none;
}

.day__icon {
  font-size: 1.8em;
  line-height: 1.6;
}

$temp-40: #6348FF;
$temp-50: #52A5FF;
$temp-60: #85E4FF;
$temp-70: #FFFFFF;
$temp-80: #FFFA80;
$temp-90: #FFAF41;
$temp-100: #FF5200;

@mixin tempGrad($startTemp, $endTemp, $startColor, $endColor) {
  $maxRange: $endTemp - $startTemp;
  @for $i from $startTemp to $endTemp {
    $delta: (($i - $startTemp) / $maxRange) * 100;
    .temp--#{$i} {
      color: mix($startColor, $endColor, 100 - $delta);
    }
  }
}

@include tempGrad(50, 60, $temp-40, $temp-50);
@include tempGrad(60, 65, $temp-50, $temp-60);
@include tempGrad(65, 70, $temp-60, $temp-70);
@include tempGrad(70, 75, $temp-70, $temp-80);
@include tempGrad(75, 80, $temp-80, $temp-90);
@include tempGrad(80, 100, $temp-90, $temp-100);
