.forecast {
  text-align: center;
}

.day {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 5em;
}

.day:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 1rem;
  bottom: 1rem;
  border: 1px solid rgba(white, .5);
}

.day:last-child:after {
  border: none;
}

.day__icon {
  font-size: 1.8em;
  line-height: 1.6;
}

$temp-40: #6348FF;
$temp-50: #52A5FF;
$temp-60: #85E4FF;
$temp-70: #FFFFFF;
$temp-80: #FFFA80;
$temp-90: #FFAF41;
$temp-100: #FF5200;

@for $i from 40 to 50 {
  .temp--#{$i} {
    color: mix($temp-40,$temp-50, 100 - (($i - 40) * 10));
  }
}

@for $i from 50 to 60 {
  .temp--#{$i} {
    color: mix($temp-50,$temp-60, 100 - (($i - 50) * 10));
  }
}

@for $i from 60 to 70 {
  .temp--#{$i} {
    color: mix($temp-60,$temp-70, 100 - (($i - 60) * 10));
  }
}

@for $i from 70 to 80 {
  .temp--#{$i} {
    color: mix($temp-70,$temp-80, 100 - (($i - 70) * 10));
  }
}

@for $i from 80 to 90 {
  .temp--#{$i} {
    color: mix($temp-80,$temp-90, 100 - (($i - 80) * 10));
  }
}

@for $i from 90 to 100 {
  .temp--#{$i} {
    color: mix($temp-90,$temp-100, 100 - (($i - 90) * 10));
  }
}