.forecast {
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  padding: 1rem;

  text-align: center;
}

.day {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 5em;
}

.day:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 1rem;
  bottom: 1rem;
  border: 1px solid rgba(white, .5);
}

.day:last-child:after {
  border: none;
}

.day__icon {
  font-size: 2em;
  line-height: 2;
}
